#match-list, #match-list p, #match-list h3 {
    list-style: none;
    margin:0; padding:0;
    }
    #match-list {
    height: 480px;
    }
    
    #match-list > li{
    margin-right: 15px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 10%;
    width: 80%;
    max-width: 80%;
    align-content: center;
    height: 64px;
    display:flex;
    }
    
    #match-list > li > .avatar{
    display:block;
    float:left;
    margin-right:8px;
    }
    #match-list > li > div {
        width: 48%;
        /*position: absolute;*/
        border-radius: 34px;
        border: none;
        display: inline-block;
        height: 100%;
        display:flex;
    }

    div .Draw-div {
        background-color: rgb(157, 0, 189);
    }
    div .Lose-div {
        background-color: red;
    }
    div .Win-div {
        background-color: rgb(0, 143, 0);
    }
    #match-list > li > div > p {
    font-size: 26px;
    line-height: 64px;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    #match-list > li > div > .score1, #match-list > li > div > .score2 {
        width: 30px;
        font-size: 36px;
    }
    #match-list > li > div > .score1 {
        margin-left: auto; 
        margin-right: 20px;
        text-align: right;
    }
    #match-list > li > div > .score2 {
        margin-right: auto; 
        margin-left: 20px;
        text-align: left;
    }
    #match-list > li > button {
        width: 64px; height: 64px;
        /*
        margin-left: -24px;
        margin-right: -24px;
        */
        flex: none;
        margin-left: -10px;
        margin-right: -10px;
        z-index: 1;
        background-color: Transparent;
        background-size: 64px 64px;
        border: none;
    }
    
    
    #challenge-button {
        background-image: url("https://cdn4.iconfinder.com/data/icons/halloween-2476/64/swords-weapons-antique-fight-war-512.png");
    }
    
    #add-f-button {
        background-image: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678092-sign-add-512.png");
    }
    
    #remove-f-button {
        background-image: url("https://cdn4.iconfinder.com/data/icons/essentials-72/24/039_-_Cross-256.png");
    }
    
    /*
    this instructions are to force the dimensions of image and its container <a>
    */
    #match-list > li > .avatar,
    #match-list > li > div > .avatar{
      width: 64px; height: 64px;
      position: relative;
      background-size: 64px 64px;
    }


span {
    width: 16px;
    height: 16px;
    border-radius: 5em;
    display: block;
    border: 1px solid rgb(3, 3, 3);
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgb(192, 192, 192);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}